<h1>All our Flats</h1>

<ul>
  <% @flats.each do |flat| %>
  <div> </div>
  <li> <%= flat.name%> </li>
  <li> <%= flat.address%> </li>
  <li> <%= flat.number_of_guests%> </li>
  <li> <%= flat.price_per_night%> </li>
  <% end %>
</ul>

<%= link_to "More Info", flat_path(@flats) %> <br>
